@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party RSVP</title>
    </head>
    <body>
        <div>
            Welcome to the RSVP page!
        </div>
    </body>
</html>
